@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
:root{
    --vermelho: #ff3131 ;
    --preto: #212121 ;
    --azul: #1976d2;
    --fonte_principal: 'League Spartan', sans-serif;
    --fonte_secundaria : "Playfair Display", serif;
    --fonte_terciaria: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
html{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
header h1 a{
    font-family: var(--principal);
    font-size: 35px;
    font-weight: 800;
    color: var(--vermelho);
    text-decoration: underline;
    margin-top: 50px;

}
header p{
    font-family: var(--secundaria);
    font-weight: 600;
    font-size: 20px;
    color: preto;
}
header{
    align-items: center;
    text-align: center;
    justify-content: center;
    justify-items: center;   
}
form{
    background-color:#E0E0E0;
    border-radius: 50px;
    border: solid 2px var(--preto);
    max-width: 400px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    margin-top: 5cap;

}
form section{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
form footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
form section #nome_usuario{
    font-family: var(--secundaria);
    font-weight: 700;
    margin-right: 215px;
    margin-bottom:5px;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form footer p{
    font-family: var(--secundaria);
    font-weight: 400;
}
form footer a{
    font-family: var(--secundaria);
    font-weight: 400;
}
form section input{
    padding:10px 100px;
    border-radius: 50px;
    border: none;
    margin-bottom: 10px;
}
form section input::placeholder{
    font-family: var(--secundaria);
    text-align: center;
}
form section input:hover{
    border: solid 2px preto;
}
button{
    padding: 20px 50px;
    border-radius:50px;
    border: none;
    color:var(--azul);
    font-size: 18px;
    display: inline-block;
}
button:hover{
    background-color: #b6b6b6;
}
#email-label {
    font-family: var(--secundaria);
    font-weight: 700;
    margin-right: 300px;
    margin-bottom:5px;
}
#senha-label{
    font-family: var(--secundaria);
    font-weight: 700;
    margin-right: 300px;
    margin-bottom:5px;
}
@media (max-width: 700px){
    html, body{
        overflow: auto ;
        max-width: 100%;
    }
    main header{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 20px 20px;
    }
    main header h1{
        color: var(--preto);
    }
    form{
        max-width: 200px;
    }
    form section input {
        padding: 10px 50px;
    }
    form section label{
        margin-left: 40%;
    }
}
