@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
:root{
    --color_vermelho: #ff3131 ;
    --color_preto: #212121 ;
    --color_azul: #1976d2;
    --fonte_principal: 'League Spartan', sans-serif;
    --fonte_secundaria : "Playfair Display", serif;
    --fonte_terciaria: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
html{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
#main_header h1{
    font-family: var(--principal);
    font-style: normal;
    font-weight: 800;
    text-decoration: underline;
    color: var(--vermelho);
}
#main_header a{
    font-family: var(--secundaria);
    font-weight: 600;
    text-decoration: none;
    color: var(--preto);
    font-size: 18px;
}

#main_header a:hover{
    text-decoration: underline;
}
#main_header{
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px 100px;
    align-items: center;
    border-bottom:1px solid var(--preto);

}
nav ul{
    display: flex;
    align-items: row;
    gap: 300px;
    
}
/* estilizando o form */
main div{
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    box-shadow: 2px 2px 4px 4px rgb(209, 208, 208);
    padding: 50px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    max-height: 1000px;
}
form header{
    margin-top:-50px;
    text-align: center;
}
form header h2{
    font-family: var(--secundaria);
    font-weight: 700;
    color: var(--preto);

}
form header p{
    font-family: var(--secundaria);
    font-weight: 300;
    color: var(--vermelho);
    text-decoration: underline;
    margin-bottom: 30px;
}
form section{
    display: flex;
    flex-direction: row;
}
form section #section-separação{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
form section #nome-email{
    display: flex;
    flex-direction: row;
    align-items: center;
}
form section #nome-email #nome{
    margin-right: 20px;
}
form section #nome-email label{
    margin-right: 10px;
    font-family: var(--secundaria);
    color: var(--preto);
    font-weight: 700;
}
form section #nome-email label:hover{
    text-decoration: underline;
}
form section #nome-email input{
    border-radius: 20px;
    border: solid 1px var(--vermelho);
    padding: 10px 15px;
}
form section #nome-email input::placeholder{
    text-align: center;
}
form section  #nome-email input:focus{
    background-color: #e8f7ff;
    border-color: #0d47a1;
}
form section #nome-email input:focus::placeholder{
    color: var(--azul);
    text-decoration: underline;
}
form section #turno-tag{
    display: flex;
    align-items: center;
    flex-direction: row;
}
form section #turno-tag label{
    font-family: var(--secundaria);
    color: var(--preto);
    font-weight: 600;
    text-decoration: underline;
}
summary{
    font-family: var(--secundaria);
    color: var(--preto);
    font-weight: 600;
    margin-top: 10px;
}
form section h4{
    font-family: var(--secundaria);
    font-weight: 700;
    margin-right: 20px;
}
form section #turno-tag #matutino{
    margin-right: 5px;
}
form section #turno-tag #vespertino{
    margin-right: 5px;
}
form #cod{
    display: flex;
    align-items: center;
    flex-direction: column;
}
form #cod h4{
    font-family: var(--secundaria);
    font-weight: 700;
    color: var(--preto);
    
}
form section #section-separacao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
    align-items: center;
    text-align: center;

}
form section section #cod label{
    font-family: var(--secundaria);
    font-weight: 600;
    color: var(--preto);
}
form footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
form footer button{
    font-family: var(--secundaria);
    color: var(--preto);
    font-weight: 700;
    padding: 20px 35px ;
    color: var(--vermelho);
    border:solid 1px var(--azul);
    border-radius: 30px;
    font-size: 20px;
}
form footer button:hover{
    color: #ffffff;
    border-color: var(--vermelho);
    background-color: var(--azul);
    text-decoration:underline;

}
@media (max-width: 900px){
    html, body{
        overflow: auto;
        max-width: 100%;
    }
    main #main_header{
        font-size: 20px;
        padding: 10px 20px;
    }
    main form{
        max-width: 250px;
    }
    main form header{
        font-size: 10px;
        word-wrap: break-word;
        padding:5px 10px;
    }
    main form section{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    label{
        text-decoration: underline;
    }
    main form section #nome-email{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 15px;
        align-items: center;
        text-align: center;
        margin-top: -30%;
    }
    main form section #turno-tag{
        display: row;
        justify-content: center;
        gap: 15px;
        align-items: center;
        text-align: center;
    }
    main form section #cod{
        margin-top: -15%;
    }
    main form section #turno-tag #turma_matutino{
        padding: 30px 50px;
    }
}
/* @media (max-width: 1280px){
    html, body{
        /* overflow: hidden; */
        /* max-width: 100%;
    }
    main #main_header{
        font-size: 15px;
        padding: 10px 20px;
    }
    main form{
        max-width: 250px;
    }
    main form header{
        font-size: 10px;
        word-wrap: break-word;
        padding:5px 10px;
    }
    main form section{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    main form section #nome-email{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 15px;
        align-items: center;
        text-align: center;
        margin-top: -30%;
        padding: 5px 10px;
        font-size: 15px;
    }
    main form section #nome-email label{
        padding: 5px 10px;
        margin-bottom: -10%;
    }
    main form section #turno-tag{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 15px;
        align-items: center;
        text-align: center;
        margin-bottom: -20%;
    }
    main form section #turno-tag h4{
        margin-bottom: -10%;
    }
    main form section #turno-tag #matutino{
        margin-bottom: -10%;
    }
    main form section #turno-tag #vespertino{
        margin-bottom: 30%;
    }
    main form section #cod{
        margin-top: -15%;
    }
} */ 
