@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
:root{
    --vermelho: #ff3131 ;
    --preto: #212121 ;
    --azul: #1976d2;
    --fonte_principal: 'League Spartan', sans-serif;
    --fonte_secundaria : "Playfair Display", serif;
    --fonte_terciaria: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* estilizando o corpo do site */
.feed-pai{
    display: flex;
    justify-content: center;
    align-items:center;
    width: 100%;
    margin-top: 20px;
}
.feed{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: solid 1px black;
    padding: 20px;
    max-width: 1000px;
    max-height: 1000px;
    width: 100%;   
    margin: 5%;
    overflow: hidden;
}
.feed img{
    max-width: 500px;
    max-height: 500px;
    width: auto;
    height: auto;
    display: block;
    margin: 0 auto;
    object-fit: contain;
    margin-bottom: 5%;
}
@media(max-width:1000px){
    .feed img{
        max-width: 250px;
        max-height: 250px;
    }
}
.feed-pai section h3{
    margin-top: -15px;
    font-family: var(--principal);
    color: var(--preto);
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}
.feed-pai p{
    font-family: var(--secundaria);
    font-size: 20px;
    color: var(--preto);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    margin-bottom: 5%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
    text-align: left;
}
.feed-pai small{
    font-family: var(--principal);
    color: var(--preto);
    font-size: 15px;
    margin-right: -80%;
}