:root{
    --vermelho: #ff3131 ;
    --preto: #212121 ;
    --azul: #1976d2;
    --principal: "Playfair Display", serif;
    --secundaria : "Lato", serif;
}
html{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
header h1{
    font-family: var(--principal);
    font-style: normal;
    font-weight: 800;
    text-decoration: underline;
    color: var(--vermelho);
}
header nav ul li a{
    font-family: var(--secundaria);
    font-weight: 600;
    text-decoration: none;
    color: var(--preto);
    font-size: 18px;
}
header nav ul li{
    list-style-type: none;
}
header nav ul li a:hover{
    text-decoration: underline;
}
header{
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px 100px;
    align-items: center;
    border-bottom:1px solid var(--preto);

}
nav ul{
    display: flex;
    align-items: row;
    gap: 300px;
    
}
@media (max-width: 1000px){
    html, body{
        overflow: auto;
        max-width: 100%;
    }
    header{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 5px 10px;
    }
    header nav ul li{
        margin-right: -30%;
    }
    img{
        max-width: 100px;
    }

}