:root{
    --vermelho: #ff3131 ;
    --preto: #212121 ;
    --azul: #1976d2;
    --principal: "Playfair Display", serif;
    --secundaria : "Lato", sans-serif;
}
html{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
header h1{
    font-family: var(--principal);
    font-style: normal;
    font-weight: 800;
    text-decoration: underline;
    color: var(--vermelho);
}
header nav ul li a{
    font-family: var(--secundaria);
    font-weight: 600;
    text-decoration: none;
    color: var(--preto);
    font-size: 18px;
}
header nav ul li{
    list-style-type: none;
}
header nav ul li a:hover{
    text-decoration: underline;
}
header{
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px 100px;
    align-items: center;
    border-bottom:1px solid var(--preto);

}
nav ul{
    display: flex;
    align-items: row;
    gap: 300px;
    
}
main #formulario{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}
main #formulario h2{
    font-family: var(--principal);
    color: var(--preto);
    font-weight: 700;
    font-size: 30px;
}
main #formulario a{
    border: none;
    background-color: var(--vermelho);
    color: #ffffff;
    border-radius:30px;
    padding: 20px 25px;
    font-family: var(--secundaria);
    font-weight:700;
    font-size: 25px;
    text-decoration: none;
}
main #formulario a:hover{
    text-decoration: underline;
    background-color: #ffffff;
    color: var(--vermelho);
    border: solid 1px var(--vermelho);
}
main #formulario p{
    font-family: var(--secundaria);
    font-weight: 600;
    color: var(--vermelho);
    font-size: 15px;
}
@media (max-width: 700px){
    html, body{
        overflow: hidden;
        max-width: 100%;
    }
    main header{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 20px 20px;
    }
    main header nav ul #cadastro{
        margin-left: -200px;
    }
    main #formulario h2{
        font-size: 25px;
        text-align: center;
    }
}
@media (max-width: 1100px){
    html, body{
        overflow: hidden;
        max-width: 100%;
    }
    main header{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}
@media (max-width: 890px){
    html, body{
        overflow: hidden;
        max-width: 100%;
    }
    main header{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    main header h1{
        margin-left: -50%;
    }
    main header nav ul{
        margin-left: -10%;
    }
}
footer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
footer label{
    font-family: var(--secundaria);
    color: var(--preto);
    font-size: 15px;
    font-weight: 600;
}
#jla{
    max-width: 100px;
    max-height: 100px;
}